[submodule "YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "tern_for_vim"]
	path = bundle/tern_for_vim
	url = git@github.com:marijnh/tern_for_vim.git
[submodule "nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "ctrlp"]
	path = bundle/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
[submodule "fugitive"]
	path = bundle/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "syntastic"]
	path = bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule "jshint"]
	path = bundle/jshint
	url = git@github.com:wookiehangover/jshint.vim.git
[submodule "vim-node"]
	path = bundle/vim-node
	url = git@github.com:moll/vim-node.git
[submodule "vim-ruby"]
	path = bundle/vim-ruby
	url = git@github.com:tpope/vim-rails.git
[submodule "vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule "ultisnips"]
	path = bundle/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule "vim-snippets"]
	path = bundle/vim-snippets
	url = git@github.com:honza/vim-snippets.git
[submodule "supertab"]
	path = bundle/supertab
	url = git@github.com:ervandew/supertab.git
